@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&display=swap');

body{
    height: 900px;
}

.cookies-msg{
    width: 80%;
    background-color: rgb(134, 134, 134);
    position: fixed; /* deixa mensagem fixa dentro do site*/
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none; 
}

.cookies-msg.mostrar{ /* sempre que existir a classe mostrar dentro da classe "cookies-msg*, o display será block*/
    display: block;
}

.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.cookies-msg .cookies-button{
    margin-left: 25px; /* distancia o botao do texto dentro da mensagem toda*/

}
.cookies-msg .cookies-button button{
    background-color: #3477C8;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s /* animação dentro do botao de aceitar cookies, faz referência com o seletor de baixo*/;
}
.cookies-msg .cookies-button button:hover{
    transform: scale(0.9)
}
