@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body, html{
    font-family: 'Merriweather', serif;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.bar{
    background-color: #0800ff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar a{
    text-decoration: underline; /*como vai ficar o texto puro dentro do site */
    color: #ffffff;
    background-color: #0800ff;
    margin: 0 15px;
}

.bottomButtons p {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 20px;
    background: #e3e3e3;
    padding: 20px;
}

.barDiv{
    display: flex;
    justify-content: center;
    padding: 10px 15rem;
    text-align: center;
}

.barLogin{
    align-items: end;
    padding: 0 5rem 0 0 ;
}

.closedFist{
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
}

.closedFistText{

}

.store{
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
    text-align: center;
}

.storeText{

}

.place{
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
}

.placeText{

}

.forum{
    width: 2rem;
    height: 2rem;
}

.forumText{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainImage{
    text-align: center;
    height: 30rem;
    width: 55rem;
    margin:2rem 0 3rem 0 ;
    border-radius: 50px;
    box-shadow: 20px 20px 30px 2px;
}

.bottomButtons p {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 20px;
    background: #e3e3e3;
    padding: 20px;
}

.bottomButtons {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    text-align: center;
    padding: 0 8rem 0 8rem ;
}

.historyText{
    margin-bottom: 0.5rem;
}

.historyImage {
    height: 10rem;
    width: 10rem;
    padding-bottom: 1rem;
}

.nextEventsImage{
    height: 13rem;
    width: 13rem;
}

.donateImage{
    height: 12rem;
    width: 13rem;
}

.header {
    display: flex;
    text-align: center;
    color: #000000;
    padding: 20px;
    margin: 10px;
    align-items: center;
    flex-direction: column;
}

.mainContent{
    margin: 10rem;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 75px;
    flex-wrap: wrap;
}

.redes {
    text-align: center;
    color: rgb(234, 87, 112);
    padding: 15px;
    margin: 10px;
}

.newSection{
    padding-top: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #8311a6;
}

#street{
    color: blue;
}
