@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.menuBar {
    background-color: #0800ff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.menuBar a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
}

.divBar {
    display: none;
}

.barLogin {
    display: none;
}

.closedFistImage, .storeImage, .placeImage, .forumImage {
    display: flex;
    margin: 0 15px;
    width: 2rem;
    height: 2rem;
}

.placeImage{
    margin-left: 1.9rem;
}

.closedFistImage{
    margin-left: 2.5rem;
}

.imageBarLogin{
    display: flex;
    height: 2rem;
    width: 2rem;
}

.imageBarSignup{
    display: flex;
    height: 1.7rem;
    width: 1.7rem;
}

.buttonBarClosedFist, .buttonBarFórum, .buttonBarLocalização, .buttonBarLogin, .buttonBarLoja, .buttonBarSignup{
    cursor: pointer;
}

.mainImage {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    border-radius: 50px;
    box-shadow: 20px 20px 30px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    text-align: center;
}

.socialMedia{
    height: 2rem;
    width: 2rem;
}

.instagramImage{
    height: 2rem;
    width: 2rem;
}

.help{
    height: 2rem;
    width: 2rem;
}

.historyDiv{
    display: flex;
    justify-content: center;
    padding: 10px 5%;
    background-color: #e8e8e8;
}

.donateText{
    margin: 0 10rem 0 10rem;
}

.mainPageImage{
    width: 5rem;
    height: 5rem;
}

.donateImage2{
    width: 5rem;
    height: 5rem;
}

.nextEventsImage2{
    width: 5rem;
    height: 5rem;
}

.futureFaixa{
    width: 58rem;
    height: 35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 30px 2px rgba(0, 0, 0, 0.2);
}

.usinaIcon{
    cursor: pointer;
    width: 10rem;
    height: 10rem;
}

.googleMaps, .googleMaps iframe{
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.adressText{
    text-align: center;

}

.threeSocialMediaBottomButtons{
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

.helpBottomButton, .socialMediaBottomButton, .instagramBottomButton{
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}

.buttonDonate, .buttonMainPage, .buttonNextEvents{
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .divBar {
        display: flex;
        justify-content: center;
        padding: 10px 5%;
        text-align: center;
    }

    .barLogin {
        display: flex;
        justify-content: center;
        padding: 10px 5%;
        text-align: center;
    }

    .mainImage {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 2rem auto;
    }

    .history-donate-calendar-configButtons {
        margin: 2rem 0;
    }

    .history-donate-calendar-divButton {
        padding: 0 1rem;
        flex: 1;
    }

    .mainContent {
        text-align: center;
        margin: 5rem 15%;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        margin: 0 0 1rem 0;
    }

    .newSection {
        text-align: center;
        padding: 5rem 15%;
    }
}
