.row {
    margin-left: 20px;
    margin-top: 20px;

}
.btn {
    margin-left: 30px;
}
.card {
    margin-left: 10px;
    margin-bottom: 10px;
}
.titulo {
    text-align: center;
    margin-top: 20px;
}
.chinen {
    margin-left: 80px;

}

